name: "Build & Deploy Web"
on:
  push:
    branches:
      - preview

jobs:
  build-web:
    name: Build Web and Push to Web Branch
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v2

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.24.3'

      - name: Install dependencies
        run: flutter pub get

      - name: Build Web
        run: flutter build web

      - name: Pull latest changes from web branch
        run: |
          git fetch origin web
          git checkout -B web origin/web
          git pull origin web
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}

      - name: Push to Web Branch
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          cd build/web
          git init 
          git add --all
          git commit -m "Build web output"
          git push origin web
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
