name: Build and Deploy Web

on:
  push:
    branches:
      - preview

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      
    # - name: Remove web branch content
    #   run: |
    #     git config --global user.name "Umut"
    #     git config --global user.email "omid.haqi@outlook.com"
    #     git checkout web
    #     rm -rf
    #     git checkout preview


    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.24.3'

    - name: Install dependencies
      run: flutter pub get
      
    - name: Config web
      run: flutter config --enable-web
      
    - name: Build for web
      run: flutter build web --release

    - name: Deploy to web branch
      run: |
        git config --global user.name "Umut"
        git config --global user.email "omid.haqi@outlook.com"
        cd build/web 
        git add . --force
        git commit -m "Deploy web build from preview"
        git push origin web:preview
